<html>
<head>
  <title>Savannah Green Urbana</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <link rel="stylesheet" href="static/style.css" type="text/css">
</head>
<body>
<div id="full-page">
<div id="page-container">


  <div id="letterhead">
    <div id="logo">
      <img src="/transparent--1x1.png">
    </div>
    <h1>
      <div class="subtle">
      <a href="/contact.html">Savannah Green Homeowners' Association of Urbana</a>
      </div>
    </h1>
    <p>
      P.O. Box 17451, Urbana, IL 61803
    </p>
  </div>

  <div id="content">
    <div id="header">
      <ul>
        <li id="current">
          <a href="/index.html">Home</a>
        </li>
        <li>
          <a href="/about.html">About</a>
        </li>
        <li>
          <a href="/contact.html">Contact</a>
        </li>
        <li>
          <a href="/documents.html">Documents</a>
        </li>
      </ul>
    </div>
